html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.content {
    text-align: center;
    font-family: Arial, sans-serif;
}

img{
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

form{
    display: inline-block;
    text-align: left;
}

label{
    display: inline-block;
    width: 90px;
}

.angeled-linear-bg{
    background-image: linear-gradient(135deg, #b1cbbb, #226F54);
}